.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.random-user-box {
  background: linear-gradient(145deg, #2b2f38, #24282f);
  box-shadow: 30px 30px 86px #1a1c21, -30px -30px 86px #363c47;
}

.user-info-btn {
  box-shadow: 5px 5px 10px #1a1c21, -5px -5px 10px #363c47;
}

.user-generate-btn {
  box-shadow: 5px 5px 11px #1942b8, -5px -5px 10px #363c47;
  z-index: 1;
  transition: ease-in-out 0.3s;
}

.user-generate-btn:active {
  box-shadow: inset 5px 5px 11px #1841b3, inset -5px -5px 11px #225bfd;
  transform: scale(0.98);
}
